USE [master]
GO
/****** Object:  Database [HastaneProje]    Script Date: 29.05.2021 15:44:11 ******/
CREATE DATABASE [HastaneProje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HastaneProje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HastaneProje.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HastaneProje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\HastaneProje_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HastaneProje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HastaneProje]
GO
/****** Object:  Table [dbo].[Tbl_Branslar]    Script Date: 29.05.2021 15:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Branslar](
	[Bransİd] [tinyint] IDENTITY(1,1) NOT NULL,
	[BransAd] [varchar](30) NULL,
 CONSTRAINT [PK_Tbl_Branslar] PRIMARY KEY CLUSTERED 
(
	[Bransİd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Doktorlar]    Script Date: 29.05.2021 15:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Doktorlar](
	[Doktorİd] [tinyint] IDENTITY(1,1) NOT NULL,
	[DoktorAd] [varchar](30) NULL,
	[DoktorSoyad] [varchar](10) NULL,
	[DoktorBrans] [varchar](30) NULL,
	[DoktorTC] [varchar](11) NULL,
	[DoktorSifre] [varchar](10) NULL,
 CONSTRAINT [PK_Tbl_Doktorlar] PRIMARY KEY CLUSTERED 
(
	[Doktorİd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Duyurular]    Script Date: 29.05.2021 15:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Duyurular](
	[Duyuruid] [smallint] IDENTITY(1,1) NOT NULL,
	[Duyuru] [varchar](200) NULL,
 CONSTRAINT [PK_Tbl_Duyurular] PRIMARY KEY CLUSTERED 
(
	[Duyuruid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Hastalar]    Script Date: 29.05.2021 15:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Hastalar](
	[Hastaİd] [smallint] IDENTITY(1,1) NOT NULL,
	[HastaAd] [varchar](10) NULL,
	[HastaSoyad] [varchar](10) NULL,
	[HastaTC] [char](11) NULL,
	[HastaTelefon] [varchar](15) NULL,
	[HastaSifre] [varchar](10) NULL,
	[HastaCinsiyet] [varchar](5) NULL,
 CONSTRAINT [PK_Tbl_Hastalar] PRIMARY KEY CLUSTERED 
(
	[Hastaİd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Randevular]    Script Date: 29.05.2021 15:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Randevular](
	[Randevuİd] [int] IDENTITY(1,1) NOT NULL,
	[RandevuTarih] [varchar](10) NULL,
	[RandevuSaat] [varchar](5) NULL,
	[RandevuBrans] [varchar](20) NULL,
	[RandevuDoktor] [varchar](30) NULL,
	[RandevuDurum] [bit] NULL CONSTRAINT [DF_Tbl_Randevular_RandevuDurum]  DEFAULT ((0)),
	[HastaTC] [char](11) NULL,
	[HastaSikayet] [varchar](250) NULL,
 CONSTRAINT [PK_Tbl_Randevular] PRIMARY KEY CLUSTERED 
(
	[Randevuİd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Sekreter]    Script Date: 29.05.2021 15:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Sekreter](
	[Sekreterİd] [tinyint] IDENTITY(1,1) NOT NULL,
	[SekreterAdSoyad] [varchar](20) NULL,
	[SekreterTC] [varchar](11) NULL,
	[SekreterSifre] [varchar](10) NULL,
 CONSTRAINT [PK_Tbl_Sekreter] PRIMARY KEY CLUSTERED 
(
	[Sekreterİd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Branslar] ON 

INSERT [dbo].[Tbl_Branslar] ([Bransİd], [BransAd]) VALUES (1, N'Dahiliye')
INSERT [dbo].[Tbl_Branslar] ([Bransİd], [BransAd]) VALUES (3, N'Kulak Burun Boğaz')
INSERT [dbo].[Tbl_Branslar] ([Bransİd], [BransAd]) VALUES (4, N'Fizik Tedavi')
SET IDENTITY_INSERT [dbo].[Tbl_Branslar] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Doktorlar] ON 

INSERT [dbo].[Tbl_Doktorlar] ([Doktorİd], [DoktorAd], [DoktorSoyad], [DoktorBrans], [DoktorTC], [DoktorSifre]) VALUES (1, N'Eda', N'Öztemur', N'Dahiliye', N'11111111111', N'1115')
INSERT [dbo].[Tbl_Doktorlar] ([Doktorİd], [DoktorAd], [DoktorSoyad], [DoktorBrans], [DoktorTC], [DoktorSifre]) VALUES (2, N'Enes', N'Sarıışık', N'Göz Hastalıkları', N'22222222222', N'2227')
INSERT [dbo].[Tbl_Doktorlar] ([Doktorİd], [DoktorAd], [DoktorSoyad], [DoktorBrans], [DoktorTC], [DoktorSifre]) VALUES (3, N'Beyza', N'Ergin', N'Göz Hastalıkları', N'33333333333', N'3333')
SET IDENTITY_INSERT [dbo].[Tbl_Doktorlar] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Duyurular] ON 

INSERT [dbo].[Tbl_Duyurular] ([Duyuruid], [Duyuru]) VALUES (1, N'Bugün Saat 21.00 da 3.kat daki Toplanma odasında tüm cerrahlarımızın toplanması gerekmektedir.')
INSERT [dbo].[Tbl_Duyurular] ([Duyuruid], [Duyuru]) VALUES (2, N'Hemşireler 3.Kat da toplansın.')
INSERT [dbo].[Tbl_Duyurular] ([Duyuruid], [Duyuru]) VALUES (3, N'Yarın Saat 21.00 da Hastanemiz de tüm Çalışanlarımıza yemek daveti düzenlenecektir.')
SET IDENTITY_INSERT [dbo].[Tbl_Duyurular] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Hastalar] ON 

INSERT [dbo].[Tbl_Hastalar] ([Hastaİd], [HastaAd], [HastaSoyad], [HastaTC], [HastaTelefon], [HastaSifre], [HastaCinsiyet]) VALUES (1, N'Enes', N'Sarıışık', N'11221221212', N'(507) 123-1231', N'12345', N'Erkek')
INSERT [dbo].[Tbl_Hastalar] ([Hastaİd], [HastaAd], [HastaSoyad], [HastaTC], [HastaTelefon], [HastaSifre], [HastaCinsiyet]) VALUES (2, N'Eda', N'Öztemur', N'45896231577', N'(505) 235-6596', N'456789', N'Kadın')
INSERT [dbo].[Tbl_Hastalar] ([Hastaİd], [HastaAd], [HastaSoyad], [HastaTC], [HastaTelefon], [HastaSifre], [HastaCinsiyet]) VALUES (3, N'Neriman', N'Öztemur', N'14141414141', N'(111) 111-1111', N'12345', N'Kadın')
SET IDENTITY_INSERT [dbo].[Tbl_Hastalar] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Randevular] ON 

INSERT [dbo].[Tbl_Randevular] ([Randevuİd], [RandevuTarih], [RandevuSaat], [RandevuBrans], [RandevuDoktor], [RandevuDurum], [HastaTC], [HastaSikayet]) VALUES (1, N'12.10.2021', N'14:50', N'', N'', 0, NULL, NULL)
INSERT [dbo].[Tbl_Randevular] ([Randevuİd], [RandevuTarih], [RandevuSaat], [RandevuBrans], [RandevuDoktor], [RandevuDurum], [HastaTC], [HastaSikayet]) VALUES (2, N'12.12.2021', N'14:00', N'Dahiliye', N'Eda Öztemur', 1, N'11221221212', N'Bas Agrısı')
INSERT [dbo].[Tbl_Randevular] ([Randevuİd], [RandevuTarih], [RandevuSaat], [RandevuBrans], [RandevuDoktor], [RandevuDurum], [HastaTC], [HastaSikayet]) VALUES (3, N'12.12.2021', N'15:00', N'Dahiliye', N'Eda Öztemur', 1, N'44444444444', N'Baş Ağrısı')
SET IDENTITY_INSERT [dbo].[Tbl_Randevular] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Sekreter] ON 

INSERT [dbo].[Tbl_Sekreter] ([Sekreterİd], [SekreterAdSoyad], [SekreterTC], [SekreterSifre]) VALUES (1, N'Emel Öztürk', N'55555555555', N'5555')
INSERT [dbo].[Tbl_Sekreter] ([Sekreterİd], [SekreterAdSoyad], [SekreterTC], [SekreterSifre]) VALUES (2, N'Ali Şahin', N'66666666666', N'6666')
INSERT [dbo].[Tbl_Sekreter] ([Sekreterİd], [SekreterAdSoyad], [SekreterTC], [SekreterSifre]) VALUES (3, N'Derya Kara', N'77777777777', N'7777')
SET IDENTITY_INSERT [dbo].[Tbl_Sekreter] OFF
USE [master]
GO
